<a href="https://colab.research.google.com/github/horsinnaround/Objective-Optimization/blob/main/objective_opt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# inport

In [ ]:
!pip install mealpy
import mealpy
from mealpy.bio_based import BBO, EOA, IWO, SBO, SMA, TPO, VCS, WHO
from mealpy.evolutionary_based import CRO, DE, EP, ES, FPA, GA, MA
from mealpy.human_based import BRO, BSO, CA, CHIO, FBIO, GSKA, ICA, LCO, QSA, SARO, SSDO, TLO
from mealpy.math_based import AOA, CGO, GBO, HC, SCA, PSS
from mealpy.music_based import HS
from mealpy.physics_based import ArchOA, ASO, EFO, EO, HGSO, MVO, NRO, SA, TWO, WDO
# from mealpy.probabilistic_based import CEM
from mealpy.system_based import AEO, GCO, WCA
from mealpy.swarm_based import ABC, ACOR, ALO, AO, BA, BeesA, BES, BFO, BSA, COA, CSA, CSO, DO, EHO, FA, FFA, FOA, GOA, GWO, HGS
from mealpy.swarm_based import HHO, JA, MFO, MRFO, MSA, NMRA, PFA, PSO, SFO, SHO, SLO, SRSR, SSA, SSO, SSpiderA, SSpiderO, WOA
from sys import exit
import numpy as np
import tweepy
import webbrowser
import time
import pandas as pd
import datetime
import threading
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
!pip install mealpy
import mealpy
# Load libraries
%tensorflow_version 2.x
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf
from pandas.plotting import scatter_matrix
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
import random as rn
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, classification_report
# create the models
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
# module imports
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import random as rn

# model imports
from sklearn.cluster import KMeans #one with clusterimg (disaster)
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.tree import DecisionTreeRegressor 
from sklearn.dummy import DummyClassifier #that zero
from sklearn.svm import SVC, SVR
from sklearn.naive_bayes import GaussianNB
# from sklearn.ensemble import RandomForestClassifier
# processing imports
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
from time import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
!pip install catboost
from xgboost import XGBClassifier
from catboost import CatBoostClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn import metrics
# Sklearn modules & classes
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn import datasets, metrics
from mealpy.bio_based import SMA
import mealpy
from sklearn.naive_bayes import GaussianNB
import mealpy
import time
print("WELLCOME TO IMPLEMENTATION")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mealpy in /usr/local/lib/python3.7/dist-packages (2.4.2)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from mealpy) (3.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.21.6)
Requirement already satisfied: scipy>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.7.3)
Requirement already satisfied: opfunu>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.0.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->mealpy) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->mealpy) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mealpy in /usr/local/lib/python3.7/dist-packages (2.4.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.21.6)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from mealpy) (3.2.2)
Requirement already satisfied: opfunu>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.0.0)
Requirement already satisfied: scipy>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from mealpy) (1.7.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->mealpy) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->mealpy) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->mealpy) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.6)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
WELLCOME TO IMPLEMENTATION

# code

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/A/Data Class/Performsnce facebook/facebook comments.csv')
data

In [ ]:
data.dropna(inplace=True)

In [ ]:
data['type_cat'] = data['Type'].factorize()[0]

In [ ]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions', 'type_cat'],
      dtype='object')

In [ ]:
data = data[data['Total Interactions']<3000]

In [ ]:
labels = data['Total Interactions']
features = data.drop(['Total Interactions','Type'],axis=1)

In [ ]:
clf = RandomForestRegressor()
clf.fit(features,labels)
laby = clf.predict(features)
r2_score(laby,labels)

In [210]:
flatint = np.zeros(len(features.columns))
for i ,k in enumerate(features.columns):
    if features[k].dtype !='float64':
        flatint[i] = 1

In [211]:
flatint

array([1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
       1.])

In [224]:
# first define your data and model
# features = 
# labels = 
# clf = 

def fitness_function(solution):
    num = features.shape[1]
    x = np.zeros(num)
    # solution = 1.7
    for i ,k in enumerate(features.columns):
        # if features[k].dtype !='float64':
        #     x[i] = int(solution[i])
        # else:
        x[i] = int(solution[i])
    # Make the predictions
    # Make the predictions
    y_predict = clf.predict(x.reshape(1,-1))
    # Measure the performance
    return y_predict
    
maxx = np.zeros(num)
minn = np.zeros(num)

for j,k in enumerate(features.columns):
    maxx[j] = features[k].max()
    minn[j] = features[k].min()

problem = {
    "fit_func": fitness_function,
    "lb": list(minn),
    "ub": list(maxx),
    "minmax": "max",
}

In [225]:
def SSPI():
    model = SSpiderA.BaseSSpiderA(problem, epoch=500, pop_size=40)
    model.solve()
    model.track_optimize_process()
    c = []
    for i in range(len(model.solution[0])):
        # if flatint[i]==1:
        #     c.append(model.solution[0][i])
        # else:
        c.append(int(model.solution[0][i]))
    df = pd.DataFrame([c,c],columns=features.columns)
    df['Total Interactions'] = [int(model.solution[1][0]),int(model.solution[1][1])]
    df.to_csv('/content/df.csv',index=False)

In [ ]:
threadSSPI = threading.Thread(target=SSPI)
threadSSPI
threadSSPI.start()

In [232]:
threadSSPI

In [233]:
df = pd.read_csv('/content/df.csv')
df

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,type_cat,Total Interactions
0,139441,3,12,6,20,0,158208,928983,11452,8889,19779,548373,45929,2284,110,1797,204,2,1950
1,139441,3,12,6,20,0,158208,928983,11452,8889,19779,548373,45929,2284,110,1797,204,2,1950

In [234]:
data[data['Total Interactions']>1800]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,type_cat
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974,0
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806,0
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177,0
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873,0

In [ ]:
threadSSPI = threading.Thread(target=SSPI)
threadSSPI
threadSSPI.start()

In [ ]:
threadSSPI

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="darkgrid")

In [ ]:
df.columns

In [ ]:
sns.relplot(x="Total Interactions", y="share",kind='line' ,hue="type_cat", data=df);

In [ ]:
sns.relplot(x="time", y="firing_rate",
           hue="coherence", size="choice",
           palette=palette,
           kind="line", data=df);